@charset "utf-8";

/*=

  @group Components
  @name Calculator Result
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.calculator-result {
  margin-top: 100px;
}

.calculator-result__detail {
  display: none;
}

.calculator-result__detail.is-show {
  display: block;
  animation: calculator-result 1s;
}

.calculator-result__detail.is-placeholder {
  .calculator-result__summary {
    opacity: .3;
  }
  .calculator-result__summary-value--width {
    opacity: 1;
  }
}

.calculator-result__summary {

}

.calculator-result__summary-item {
  display: inline-block;
  vertical-align: bottom;
}

.calculator-result__summary-item + .calculator-result__summary-item {
  margin-left: 40px;
}

.calculator-result__summary-item--special-character {
  position: relative;
  top: -9px;
  width: 60px;
  font-size: 2.2rem;
  opacity: .5;
  text-align: center;
}

.calculator-result__summary-item + .calculator-result__summary-item--special-character,
.calculator-result__summary-item--special-character + .calculator-result__summary-item {
  margin-left: 0;
}

.calculator-result__summary-label {
  position: relative;
  top: -7px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 1.8rem;
  vertical-align: bottom;
}

.calculator-result__summary-label--en {
  font-size: 2.2rem;
}

.calculator-result__summary-label:after {
  content: ' :';
}

.calculator-result__summary-label--en:after {
  display: none;
}

.calculator-result__summary-value {
  font-weight: 600;
  font-size: 4rem;
  vertical-align: bottom;
}

.calculator-result__summary-value--width {
  opacity: .3;
}

.calculator-result__summary-value--column {

}

.calculator-result__summary-unit {
  position: relative;
  top: -4px;
  margin-left: 10px;
  font-size: 2.2rem;
  vertical-align: bottom;
}

.calculator-result__visualization {
  margin-top: 100px;
}

.calculator-result__visualization-measurement {
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  margin: 0 1px;
  font-size: 1.5rem;
}

.calculator-result__visualization-measurement:before,
.calculator-result__visualization-measurement:after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 1px;
  height: 9px;
  background-color: rgba(255, 255, 255, .3);
}

.calculator-result__visualization-measurement:before {
  left: -1px;
}

.calculator-result__visualization-measurement:after {
  right: -1px;
}

.calculator-result__visualization-column-area {
  display: flex;
  margin-top: 25px;
}

.calculator-result__visualization-column {
  display: inline-block;
  flex: auto;
  width: 100%;
  min-width: 20px;
  height: 380px;
  padding-top: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  font-size: 1.5rem;
  vertical-align: top;
}

.calculator-result__visualization-column + .calculator-result__visualization-column {
  margin-left: 1px;
}

.calculator-result__visualization-column--pale {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04));
}

.calculator-result__visualization-column--pale + .calculator-result__visualization-column--pale {
  margin-left: 0;
}

.calculator-result__message {
  display: none;
}

.calculator-result__message.is-show {
  display: block;
  animation: calculator-result 1s;
}

@keyframes calculator-result {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}