@charset "utf-8";

/*=

  @group Components
  @name Calculator Fieldset
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.calculator-fieldset {
  margin-top: 62px;
}

.calculator-fieldset__column {
  display: inline-block;
  position: relative;
  width: 180px;
  text-align: right;
  vertical-align: top;
}

.calculator-fieldset__column + .calculator-fieldset__column {
  margin-left: 30px;
}

.calculator-fieldset__column + .calculator-fieldset__column--special-character {
  width: 60px;
  margin-right: -30px;
  margin-left: 0;
  font-size: 18px;
  opacity: .5;
  line-height: 53px;
  text-align: center;
}

.calculator-fieldset__column.is-selected:after {
  width: 100%;
}