@charset "utf-8";

/*=

  @group Components
  @name Content
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.content {
  display: inline-block;
  width: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
  animation: content .8s;
}

.content__wrapper {
  width: 1060px;
  margin: 0 auto;
}

@keyframes content {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}