@charset "utf-8";

/*=

  @group Components
  @name Footer
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.no-layout .footer {
  opacity: 0;
}

.footer {
  position: absolute;
  bottom: 39px;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  transition: opacity .4s;
}

.footer__wrapper {

}

.footer__copyright {
  font-size: 1.5rem;
  opacity: .5;
}