@charset "utf-8";

/*=

  @group Components
  @name Header Nav
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.no-layout .header__nav {
  opacity: 0;
  pointer-events: none;
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 0;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%);
  transition: opacity .4s;
}

.header__nav-wrapper {

}

.header__nav-listitem {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.header__nav-anchor {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 0;
  opacity: .3;
  text-align: center;
}

.header__nav-anchor.is-active {
  opacity: 1;
  pointer-events: none;
}

.header__nav-anchor:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.header__nav-ico {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.header__nav-ico--webfont {
  width: 32px;
  height: 23px;
  background-image: url(../image/ico-webfont-32x23-fff.png);
}

.header__nav-ico--calculator {
  width: 24px;
  height: 22px;
  background-image: url(../image/ico-calculator-24x22-fff.png);
}

.header__nav-ico--device {
  width: 22px;
  height: 22px;
  background-image: url(../image/ico-device-22x22-fff.png);
}

.header__nav-ico--contrast {
  width: 22px;
  height: 22px;
  background-image: url(../image/ico-contrast-22x22-fff.png);
}