@charset "utf-8";

/*=

  @group Components
  @name Input
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-13

*/

.input {

}

.input__label {

}

.input__substance {

}

/*=

  @group Components
  @name Input Underline
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-13

*/

.input--underline {
  position: relative;
  padding: 15px 0;
}

.input--underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: .3;
}

.input--underline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity .4s, width 0s .4s;
  -moz-transition: opacity .4s, width 0s .4s;
  -o-transition: opacity .4s, width 0s .4s;
  -ms-transition: opacity .4s, width 0s .4s;
  transition: opacity .4s, width 0s .4s;
}

.input--underline.is-focus:after {
  width: 100%;
  opacity: 1;
  -webkit-transition: width .4s;
  -moz-transition: width .4s;
  -o-transition: width .4s;
  -ms-transition: width .4s;
  transition: width .4s;
}

.input--underline .input__label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 1.5rem;
  letter-spacing: -.03em;
  -webkit-transform: translateY(-50%);
  -mos-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input--underline .input__label--en {
  font-size: 1.8rem;
}

.input--underline .input__substance {
  width: 80px;
  height: 23px;
  padding-right: 27px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 23px;
  text-align: right;
}

.input--underline .input__substance--cols {
  padding-right: 38px;
}

.input--underline .input__unit {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.8rem;
  -webkit-transform: translateY(-50%);
  -mos-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}