@charset "utf-8";

/*=

  @group Components
  @name Lnb
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.lnb {
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity .4s;
  -mos-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
  transition: opacity .4s;
}

.lnb.is-show {
  opacity: 1;
  pointer-events: auto;
}

.lnb__wrapper {

}

.lnb__listitem {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.lnb__anchor {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 0;
  opacity: .3;
  text-align: center;
}

.lnb__anchor.is-selected {
  opacity: 1;
}

.lnb__anchor:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.lnb__ico {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.lnb__ico--webfont {
  width: 32px;
  height: 23px;
  background-image: url(../image/ico-webfont-32x23-fff.png);
}

.lnb__ico--calculator {
  width: 24px;
  height: 22px;
  background-image: url(../image/ico-calculator-24x22-fff.png);
}

.lnb__ico--device {
  width: 22px;
  height: 22px;
  background-image: url(../image/ico-device-22x22-fff.png);
}

.lnb__ico--contrast {
  width: 22px;
  height: 22px;
  background-image: url(../image/ico-contrast-22x22-fff.png);
}