@charset 'utf-8';

.lnb {
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lnb__wrapper {

}

.lnb__listitem {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 15px;
    vertical-align: top;
}

.lnb__anchor {
    display: block;
    width: 36px;
    height: 36px;    
    border-radius: 5px; /* tmp */
    background-color: #fff; /* tmp */
    opacity: .8; /* tmp */
}