@charset "utf-8";

/*=

  @group Components
  @name Switch Tab
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.switch-tab {
  margin-top: 22px;
  text-align: center;
}

.switch-tab__menu {
  position: relative;
  height: 33px;
}

.switch-tab__menu:before {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  opacity: .3;
  transform: translate(-50%, -50%);
}

.switch-tab__menu:after {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transform: translate(-100%, -50%);
  transition: transform .4s;
}

.switch-tab__menu--right:after {
  transform: translate(0, -50%);
}

.switch-tab__menu-item {
  position: absolute;
  top: 0;
}

.switch-tab__menu-item:first-child {
  right: 50%;
  margin-right: 40px;
}

.switch-tab__menu-item:last-child {
  left: 50%;
  margin-left: 40px;
}

.switch-tab__menu-btn {
  font-size: 2.4rem;
  opacity: .3;
}

.switch-tab__menu-btn.is-active {
  opacity: 1;
}

.switch-tab__panel-area {

}

.switch-tab__panel {
  display: none;
}

.switch-tab__panel.is-expanded {
  display: block;
  animation: switch-tab-panel 1s;
}

@keyframes switch-tab-panel {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}