@charset "utf-8";

/*=

  @group Components
  @name Switch Tab
  @author wanho1108 <wanho1108@gmail.com>
  @since 2018-03-12

*/

.switch-tab {
  margin-top: 22px;
  text-align: center;
}

.switch-tab__menu {
  position: relative;
  height: 33px;
}

.switch-tab__menu:before {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  opacity: .3;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.switch-tab__menu:after {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  -o-transition: -o-transform .4s;
  -ms-transform: -ms-transform .4s;
  transition: transform .4s;
}

.switch-tab__menu--left:after {
  /*-webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);*/
}

.switch-tab__menu--right:after {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.switch-tab__menu-item {
  position: absolute;
  top: 0;
}

.switch-tab__menu-item:first-child {
  right: 50%;
  margin-right: 40px;
}

.switch-tab__menu-item:last-child {
  left: 50%;
  margin-left: 40px;
}

.switch-tab__menu-btn {
  font-size: 2.4rem;
  opacity: .3;
}

.switch-tab__menu-btn.is-active {
  opacity: 1;
}

.switch-tab__panel {
  display: none;
}

.switch-tab__panel.is-expanded {
  display: block;
  -webkit-animation: switch-tab-panel 1s;
  -moz-animation: switch-tab-panel 1s;
  -o-animation: switch-tab-panel 1s;
  -ms-animation: switch-tab-panel 1s;
  animation: switch-tab-panel 1s;
}

@-webkit-keyframes switch-tab-panel {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes switch-tab-panel {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes switch-tab-panel {
  0% {
    opacity: 0;
    -o-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@-ms-keyframes switch-tab-panel {
  0% {
    opacity: 0;
    -ms-transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes switch-tab-panel {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}